/* 
    Document   : record
    Created on : Feb 16, 2011, 4:40:59 PM
    Author     : "Nick dos Remedios <Nick.dosRemedios@csiro.au>"
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.sidebar h2 {
    margin-top: 20px;
}

#loginId {
    display: none;
}

#warnings ul {
    margin-bottom: 10px;
}

.sidebar > button {
    margin: 10px 0;
}
div.recordHeader {
    /*margin-left: 30px;*/
    margin-bottom: 10px;
    padding-left: 0 !important;
    border-bottom: 1px solid #CCC;
}
#headingBar h1 {
    margin: 0;
}

div#occurrenceMap {
    height: 300px;
    margin-top: 5px;
}
.originalValue {
    padding-left: 12px;
    font-style: italic; 
}
table.occurrenceTable {
    /*border-bottom: 0px !important;*/
    /*margin: 5px 0 10px 0;*/
    /*padding-bottom: 5px;*/
    /*width: 100%;*/
}
.occurrenceTable td.dwcLabel {
    width: 33%;
    vertical-align: top;
    font-weight: bold;
}

.dataQualityResults {
    /*border-bottom: 0px !important;*/
    margin: 5px 0 10px 0;
    /*padding-bottom: 5px;*/
    /*width: 100%;*/
}

td.annoText {
    width: 24px;
}
#headingBar #jsonLink {
    float:right;
    width: 200px;
    font-size: 11px;
    vertical-align: bottom;
    text-align: right;
    line-height: 1.2em;
    color: #555;
}
h2#headingSciName {
    color: #555;
    font-size: 1.6em;
    padding-bottom: 12px;
}
h1 span#recordId {
    color: #222;
}
#content2 h3 {
    margin-top: 4px;
}
#institutionLogo {
    max-width: 280px;
}
#assertionMaker {
    font-size: 110%;
/*    background-color: #900;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
    padding:5px;
    border:1px solid #900;*/
}
#loginOrFlag {
    font-size: 13px;
}

#loginOrFlag label {
    width: 85px;
    display: inline-block;
    color: #444;
}

#processedVsRawView {
    font-size: 13px;
    text-align: center;
    width: 900px;
    /*margin-top: -300px !important;*/
    margin-left:  -450px !important;
}

#processedVsRawView table {
    width: 100%;
    /*border: none;*/
    margin-bottom: 0;
}

td.noStripe {
    background-color: white !important;
}

#processedVsRawView .modal-body {
    /*max-height: 550px;*/
}

.inner td.label {
    text-align: right;
}

.grey-bg {
    background-color: #F0F0F0;
}

table.inner td:first-child {
    width: 150px;
    min-width: 150px;
}

#content2 > div {
    padding-left: 10px;
}

td.dwc {
    text-align: right;
    white-space: nowrap;
}

span.dwc {
    /*text-transform: capitalize;*/
}

div#userAssertionsDetailsLink {
    margin-left: 10px;
    margin-top: -5px;
}

div#userAssertionsDetailsLink > a {
    font-size: 12px;
}

#clubView {
    color:red;
}

div.sidebar > button.rounded {
    float: none;
}

div#backButton {
    float: right;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    padding: 3px 6px;
    border: 1px solid #999;
    background-color: #E0E0E0;
    -moz-border-radius: 4px; /* FF1+ */
    -webkit-border-radius: 4px; /* Saf3+, Chrome */
    -o-border-radius: 4px;
    -icab-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px; /* Opera 7.7, IE 9 */
}

div#backButton a {
    text-decoration: none;
}

div#backButton a:hover {
    text-decoration: underline;
}

.dwcLabel a:link {
    text-decoration: none;
}

.dwcLabel a:hover {
    text-decoration: underline;
}

tr.sectionName td {
    background-color:#E0E0E0 !important;
    color:#222;
    font-weight:bold;
}

div.additionalData {
    margin-left: 20px;
    margin-top: 20px;
}

.additionalData table {
    min-width: 80%;
}

li.userAnnotationTemplate p { padding-top: 1px !important; padding-bottom:1px !important; }

li.userAnnotationTemplate { list-style: none; }

#showUncheckedTests:hover { cursor: hand; }


#systemAssertions {
    list-style: none;
    margin-left: 8px;
    margin-bottom: 20px;
    padding-left: 0px;
}

#systemAssertions li {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    margin-left: 0px;
    padding-left: 0px;
}

#systemAssertions li#dataQualityFurtherDetails {
    list-style: none;
    /*margin-left: -18px;*/
    margin-top: 8px;
}

.popover {
    max-width: 560px;
}

.popover-title .close {
    font-size: 24px;
    margin-top: -4px;
    margin-left: 5px;
    margin-right: -5px;
}

.dataQualityHelpLink {
    filter: alpha(opacity=50); /* internet explorer */
    -khtml-opacity: 0.5;      /* khtml, old safari */
    -moz-opacity: 0.5;       /* mozilla, netscape */
    opacity: 0.5;           /* fx, safari, opera */
}

#expertDistroMap img {
    max-width: none;
}

#occurrenceMap img {
    max-width: none;
}

div.audiojs {
    margin: 15px 0px 10px;
}

div.audiojs div.scrubber {
    width: 120px;
}

div.audiojs div.time {
    display: none;
    width: 50px;
}

#outlierFeedback #inferredOccurrenceDetails {
    clear: both;
    margin-left: 20px;
    margin-top: 30px;
    width: 100%;
}

/*#outlierFeedback h3 {color: #718804; }*/
#outlierFeedback #outlierInformation #inferredOccurrenceDetails {
    margin-bottom: 20px;
}

.primaryContact{
    color: orange;
}