body {
    background-color: #ffffff !important;
}
#breadcrumb {
    margin-top: 10px;
}
#main-content #searchInfoRow #customiseFacetsButton > .dropdown-menu {
    background-color: #ffffff;
}
#footer {
    margin: 20px;
    padding-top: 10px;
    border-top: 1px solid #CCC;
    font-size: 12px;
}
#content .nav-tabs > li.active > a {
    background-color: #ffffff;
}
.nav {
    margin-top: 20px;
}
body > #main-content {
    margin-top: 0px;
}
