#backBtn a, #assertionButton, #showRawProcessed, #dataQualityFurtherDetails, .gm-style-cc, .toggleResponsive  {
    display: none !important;
}

/**
 * this is to prevent href attributes from displaying in print page. This is caused by bootstrap.
 * http://stackoverflow.com/questions/17613273/how-to-hide-href-attribute-of-a-tag-via-css-when-using-window-print
 */
a:link:after, a:visited:after { display: none}

#content2Z{
    width: 100%;
}
table {
    width: 100%;
}

#main-content div#additionalData{
    margin-left: 0px;
}